<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/all.css" />
    <link rel="stylesheet" type="text/css" href="../css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="../css/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/owl.theme.default.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/jquery.rateyo.css" />
    <link rel="stylesheet" type="text/css" href="../inner-page-style.css" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon" />
  </head>
  <body>
    <div
      id="page"
      class="site"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <header class="site-header">
        <div class="top-header">
          <div class="container">
            <div class="top-header-left">
              <div class="top-header-block">
                <a
                  href="mailto:etsamuelrobinsonlasalinasur@gmail.com"
                  itemprop="email"
                  ><i class="fas fa-envelope"></i
                  >etsamuelrobinsonlasalinasur@gmail.com</a
                >
              </div>
              <div class="top-header-block">
                <a href="tel:+5804240000000" itemprop="telephone"
                  ><i class="fas fa-phone"></i> +58 04240000000</a
                >
              </div>
            </div>
            <div class="top-header-right">
              <div class="social-block">
                <ul class="social-list">
                  <li>
                    <a href=""><i class="fab fa-viber"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fab fa-facebook-messenger"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fab fa-skype"></i></a>
                  </li>
                </ul>
              </div>
              <div class="login-block">
                <% if (user) { %>
                  <a href="/auth/logout">Cerrar sesión</a>
                <% } else {%>
                  <a href="/auth/login">Iniciar sesión</a>
                <% }%>
              </div>
            </div>
          </div>
        </div>

        <div class="main-header">
          <div class="container">
            <div style="display: flex">
              <a href="/">
                <img src="../images/logo.jpg" alt="" style="height: 90px" />
              </a>
              <h1 style="padding: 15px">Escuela Técnica Samuel Robinson</h1>
            </div>
            <div class="nav-wrap">
              <nav class="nav-desktop">
                <ul class="menu-list">
                  <% if (user) { %>
                    <li><a href="/admin/noticia">Admin</a></li>
                  <% } %>
                  <li><a href="/noticia">Noticias</a></li>
                  <li><a href="/estudiantes">Estudiantes</a></li>
                  <li>
                    <a href="http://localhost/login/index.php"
                      >Entorno Virtual</a
                    >
                  </li>
                </ul>
              </nav>
              <div id="bar">
                <i class="fas fa-bars"></i>
              </div>
              <div id="close">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
        </div>
      </header>

      <% if (prev) { %>
        <button><a href="<%= prev %>">Anterior</a></button>
      <% } %>
      <% if (next) { %>
        <button><a href="<%= next %>">Siguiente</a></button>
      <% } %>
      <section class="testimonial-page center" style="background-color: azure;">
        <% for(let i=0; i < noticia.length; i++) { %>
        <div class="container" style="padding-top:20px ; padding-bottom: 20px;">
          <main>
            <%- include('message/alert') %> 
            <%- include('message/success') %>
            <div class="row">
                <div class="rewiew-content">
                  <header>
                    <h3><%= noticia[i].titulo %></h3>
                    <p><%= noticia[i].noticia %></p>
                  </header>
                  <footer>
                    <p><%= noticia[i].usuario %></p>
                    <% if (user) { %>
                    <a href="/noticia/editar/<%= noticia[i].id %>">Editar</a>
                    <a href="/noticia/deshabilitar/<%= noticia[i].id %>">Deshabilitar</a>
                    <% } %>
                  </footer>
                </div>
              </div>
            </main>
          </div>
        <% } %>
      </section>

      <footer
        class="page-footer"
        itemprop="footer"
        itemscope
        itemtype="http://schema.org/WPFooter"
      >
        <div class="footer-first-section">
          <div class="container"></div>
        </div>
        <!-- End of box-Wrap -->
        <div class="footer-second-section">
          <div class="container">
            <hr class="footer-line" />
            <ul class="social-list">
              <li>
                <a href=""><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-skype"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href=""><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
            <hr class="footer-line" />
          </div>
        </div>
        <div class="footer-last-section">
          <div class="container">
            <p>
              Copyright 2018 &copy; educationpro.com <span> | </span> Theme
              designed and developed by
              <a href="https://labtheme.com">Lab Theme</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script
      type="text/javascript"
      src="../javascripts/jquery-3.3.1.min.js"
    ></script>
    <script type="text/javascript" src="../javascripts/lightbox.js"></script>
    <script type="text/javascript" src="../javascripts/all.js"></script>
    <script
      type="text/javascript"
      src="../javascripts/isotope.pkgd.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../javascripts/owl.carousel.js"
    ></script>
    <script
      type="text/javascript"
      src="../javascripts/jquery.flexslider.js"
    ></script>
    <script
      type="text/javascript"
      src="../javascripts/jquery.rateyo.js"
    ></script>
    <script type="text/javascript" src="../javascripts/custom.js"></script>
  </body>
</html>
