<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>WCH</title>
    <link href="http://localhost:3000/bootstrap/css/bootstrap.min-3.4.1.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 ">
                <h1>Reporte</h1>
            </div>
            <div class="col-xs-2">
                <img class="img img-responsive" src="http://localhost:3000/images/logo.jpg">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
              <table class="table" style="font-size: 16px;">
                <thead>
                  <tr>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Primer nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo electronico</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].username %></td>
                        <td><%= data[i].password   %></td>
                        <td><%= data[i].firstname %></td>
                        <td><%= data[i].lastname %></td>
                        <td><%= data[i].email %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</body>

</html>